<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <h1><%= "Team Name: #{@new_team["name"]}" %></h1> </br>
  <%= "Coach: #{@new_team["coach"]}" %> </br>
  <%= "Point Guard: #{@new_team["pg"]}" %> </br>
  <%= "Shooting Guard: #{@new_team["sg"]}" %> </br>
  <%= "Small Forward: #{@new_team["sf"]}" %> </br>
  <%= "Power Forward: #{@new_team["pf"]}" %> </br>
  <%= "Center: #{@new_team["c"]}" %> </br>

 </body>
</html>


